<!-- Footer -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="w3-blackboard w3-padding w3-container w3-border">

    <div class="w3-left w3-padding">
        <h3><a href="/index.html" style="text-decoration: none;">Selina's Daycare & Preschool</a></h3>
        <p><a href="https://goo.gl/maps/caDiXm54fjbKwHyV6">2423 29th Ave, San Francisco, CA 94116</a></p>
        <p> <a href="tel:+4152156703">(415) 215-6703</a> </p>
        <p><a href="mailto:selinadaycarepreschool@gmail.com">selinadaycarepreschool@gmail.com</a></p>
    </div>

    <div class="w3-left w3-padding-large">
        <h3>Hours</h3>
        <p>Monday &mdash; Friday<br>8am &mdash; 5pm</p>

        <p>Saturday &mdash; Sunday <br>Upon Request</p>
    </div>

    <div class="w3-left w3-padding-large">
        <h3>Socials</h3>
        <a href="https://www.yelp.com/biz/selinas-daycare-preschool-san-francisco" class="fa fa-yelp"></a>      
        <br>
        <a href="https://www.facebook.com/parksides/" class="fa fa-facebook"></a> 
    </div>

</footer>