<!-- Navbar (sit on top) -->
<div class="nav" id="navbar">
    <div class="w3-bar w3-wide w3-padding w3-white">
        <a href="/index.html" class="w3-bar-item logo-name">
            Selina's Daycare & Preschool
        </a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-padding navlinks">
            <a href="/index.html#mission" class="w3-bar-item w3-button w3-small">Mission</a>
            <a href="/index.html#program" class="w3-bar-item w3-button w3-small">Program</a>
            <a href="/about.html" class="w3-bar-item w3-button w3-small">About</a>
            <a href="/testimonials.html" class="w3-bar-item w3-button w3-small">Testimonials</a>
            <a href="/gallery.html" class="w3-bar-item w3-button w3-small">Gallery</a>
            <a href="/contact.html" class="w3-bar-item w3-button w3-small">Contact</a>
        </div>
    </div>
</div>